<!doctype html>
<html>
<!--made by Koo Minku-->
<!--Developer Email : corleone@kakao.com-->
<!--"Searching Korean News" Web Site-->
<!--Server : flask (python)-->
<!--crawling :  python selenium, beautifulsoup4-->
<!--DB : MariaDB-->
<!--project start 2020.04.14-->
<head>
<title>My News</title>
<meta charset="utf-8">
<!--CSS 파일 불러오기-->
<link rel="stylesheet" 
  href="{{ url_for('static', filename='news_css.css') }}">
<script type="text/javascript"
src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
</script>

  
</head>

<body>

<h2>{{ article[0] }}</h2>

<img src="./static/img_file/{{img_name}}">
<p>
{%for n in article[1]%}
	<br>
	{{ n }}
	<br>
	
{%endfor%}
</p>

</body>
</html>